<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>ServletsUtiles.Servlet</servlet-class>
        <init-param>
        <param-name>nomAutorise</param-name> <!-- Param d'init -> nom d'admin -> mdp -> sourceBase?? --> 
        <param-value>admin</param-value>
        </init-param>
        <init-param>
        <param-name>motDePasse</param-name>
        <param-value>admin</param-value>
        </init-param>
        <init-param>
        <param-name>sourceBase</param-name>
        <param-value>helvetes</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Login.jsp
        </welcome-file>
    </welcome-file-list> 
    <listener>
        <listener-class> ServletsUtiles.SessionTimeOut</listener-class>
    </listener>
    <Alias>192.168.0.28</Alias> <!-- Accessible sur le même réseau en donnant l'adresse ici (a changer quand changement de réseau) --> 
</web-app>
